.popup {
    width: 700px;
    font-family: sans-serif;
}

.popup-content {
    display: flex;
}

.column {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    height: 400px;
}

.usage-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    height: 60px;
    border-bottom: 1px solid lightgray;
    font-size: 16px;
}

.usage-content {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    border-bottom: 1px solid lightgray;
    font-size: 16px;
}

.text-selected {
    background-color: #3390ff;
    color: white;
}

.convert-status {
    opacity: 0;
    transition: opacity 0.3s;
}